<html>
    <head>
        <title>Find Hair stylists</title>
    </head>
    <body>
        <h1>{{ stylist.getStylistName }}</h1>

        {% if clients is not empty %}
            <p>Here are all your clients:</p>
            <ul>
                {% for client in clients %}
                    <li>{{ client.getClientName }}</li>
                    <li><a href='/clients/{{ client.getClientId }}/edit'>Edit</a> </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h4>Add a Client</h4>

        <form action='/clients' method='post'>
            <input id = "stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getStylistId() }}">
            <label for='client_name'>Client name</label>
            <input id='client_name' name='client_name' type='text'>

            <button type='submit'>Add Restaurant</button>
        </form>
        <!-- <p><a href="/cuisines/{{ cuisine.getId }}/edit">Edit this cuisine</a></p> -->
        <p><a href='/'>Home</a></p>
    </body>
</html>
